/* Jumbotron */
.jumbotron {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.jumbotron img {
    max-width: 100%;
    display: block;
    margin-left: 4rem;
}

.caption {
    position: absolute;
    top: 170px;
    left: -60px;
    background: radial-gradient(#04040491, #464646db);
    color: #fff;
    padding: 15px;
    font-size: 14px;
}

/* About Us Section */

.about-section {
    min-height: 550px;
    color: white;
}

.about-left {
    top: 0;
    right: 0;
    background-image: url('../../assests/temp.webp'); /* Update with your image URL */
    background-size: cover;
    background-position: center center;
}

.about-left article {
    bottom: 50px;
    right: 100px;
    background: radial-gradient(#04040491, #464646db);
    padding: 30px;
}

.about-right {
    bottom: 0;
    left: 0;
    background-image: url('../../assests/temp.webp'); /* Update with your image URL */
    background-size: cover;
    background-position: center center;
}

.about-right article {
    top: 50px;
    left: 100px;
    background: radial-gradient(#04040491, #464646db);
    padding: 30px;
}
